
{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>موسسه خیریه توانمند سازی ام اس</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" >

     

<style> 
@font-face {
  font-family: myFirstFont;
   src: url({% static 'font/tanha.woff' %});
}

div {
  font-family: myFirstFont;
}
p {
  font-family: myFirstFont;
}
 {
  font-family: myFirstFont;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font/font.css' %}" >
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" >
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" >
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" >
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}" >
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" >
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}" > -->
    
{% block head %}


{% endblock  %}

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade' %}" >You are using an <strong>outdated</strong> browser. Please <a href="{% static 'https://browsehappy.com/' %}" >upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-lg-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 021 88738024</a></li>
                                    <li><a href="#"> <i class="fa fa-envelope"></i>info@gbocharity.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="social_media_links d-none d-lg-block">
                                
                                <a href="https://www.instagram.com/tavanmandsazi_center/">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://telegram.me/ms_tavan">
                                    <i class="fa fa-telegram" aria-hidden="true"></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img height="60px"    src="{% static 'img/1.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div  class="main-menu">
                                <nav>
                                    <ul align="right" style="direction:rtl " id="navigation">
                                        <li ><a style="font-family: myFirstFont; {% if '/' == request.path %}font-size: 20px ; color:black {% endif %}" href="{% url 'index' %}">خانه</a></li>
                                        <li style="color:blue"><a  style="font-family: myFirstFont; {% if '/about/' in request.path %}font-size: 20px ; color:black {% endif %}" href="{% url 'about' %}">درباره ما</a></li>
                                        <li><a style="font-family: myFirstFont; {% if '/information/' in request.path %}font-size: 20px ; color:black {% endif %}" href="{% url 'news:news_list' %}">اخبار </a>
                                        </li>
                                         <li><a style="font-family: myFirstFont; {% if '/cause/' in request.path %}font-size: 20px ; color:black {% endif %}" href="{% url 'news:cause_list' %}">اهداف</a></li>
                             
                                         <li><a style="font-family: myFirstFont;" href="{% url 'chat:index' %}">تالار گفت و گو</a></li>
                             
  {% if user.is_authenticated %}       
                                 <li><a style="font-family: myFirstFont;" href="#">{{user}} <i class="ti-angle-down"></i></a>
                                            <ul  class="submenu">
                                                <li  align="right" style="direction:rtl "><a style="font-family: myFirstFont;" href="{% url 'account:dashboard' %}"> صفحه ی شخصی</a></li>
                                                <li  align="right" style="direction:rtl "><a style="font-family: myFirstFont;" href="javascript:{document.getElementById('logout').submit()}">خروج از حساب</a>
                                                <form id="logout"  action="{% url 'account:logout'%}" method="POST">
{%csrf_token%}
<input type="hidden" /></form>
                                                </li>
                                            </ul>
                                        </li>   
                                        
                    {% else %}
                                 <li><a style="font-family: myFirstFont; {% if '/account/' in request.path %}font-size: 20px ; color:black {% endif %}" href="#">عضویت <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a style="font-family: myFirstFont;" href="{% url 'account:login' %}"> ورود</a></li>
                                                <li><a style="font-family: myFirstFont;" href="{% url 'account:signup' %}">ثبت نام</a></li>
                                            </ul>
                                        </li>   
                              {% endif %}          
                                        
                                            </ul>
                              
                              
                              
                              
                              
                              
                              
                                </nav>
                                <div class="Appointment">
                                    <div  class="book_btn d-none d-lg-block">
                                        <a style="font-family: myFirstFont;"  href="https://zarinp.al/@seyed14">حمایت مالی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





{% block content %}


{% endblock  %}

    <footer class="footer"  align="right"  style="font-family: myFirstFont; direction:rtl ">
        <div  class="footer_top">
            <div  class="container">
                <div  class="row">
                    <div  class="col-xl-4 col-md-6 col-lg-4 ">
                        <div  class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img height="100px"   src="{% static 'img/1.png' %}" alt="">
                                </a>
                            </div>
                            <p style="font-family: myFirstFont;" class="address_text"> طراحی و برنامه نویسی <br> seyed.mo30@gmail.com <br>  www.mo30.ir
                            </p>
                            <div class="socail_links">
                                <ul>
                               
                                    <li>
                                      


                            <a href="https://telegram.me/ms_tavan">
                                <i class="fa fa-telegram" aria-hidden="true"></i>
                            </a>
                                    </li>
                                    <li>
                                     
                            <a href="https://www.instagram.com/tavanmandsazi_center/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                                    </li>
                                </ul>
                            </div>
   







                        </div>
                    </div>
                    <div  class="col-xl-2 col-md-6 col-lg-2">
                        <div  class="footer_widget">
                            <h3 style="font-family: myFirstFont" class="footer_title">
                                دسته بندی
                            </h3>
                            <ul class="links">
                                <li><a style="font-family: myFirstFont" href="#">خانه</a></li>
                                <li><a style="font-family: myFirstFont" href="#">حمایت مالی</a></li>
                                <li><a style="font-family: myFirstFont" href="#">درباره ما</a></li>
                                <li><a style="font-family: myFirstFont" href="#">اخبار </a></li>
                                <li><a style="font-family: myFirstFont" href="#">اهداف</a></li>
                                </ul>
                        </div>
                    </div>
                    <div  class="col-xl-3 col-md-6 col-lg-3">
                        <div  class="footer_widget">
                            <h3  style="font-family: myFirstFont" class="footer_title">
                                راه های ارتباطی
                            </h3>
                            <div class="contacts">
                                <p  style="font-family: myFirstFont"> 88738024 021<br>
                                   info@gbocharity.com <br>
                                    تهران، خیابان شهید بهشتی، خیابان مفتح شمالی، نبش کوچه هشتم، پلاک 390،طبقه دوم، واحد37    </p>
                            </div>
                        </div>
                    </div>
                    <div  class="col-xl-3 col-md-6 col-lg-3">
                        <div  class="footer_widget">
                            <h3  style="font-family: myFirstFont" class="footer_title">
                                افتخارات
                            </h3>
                            <ul class="news_links">
                                <li>
                                    <div  class="thumb">
                                        <a href="#">
                                            <img src="{% static 'img/news/namad1.png' %}" alt="">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                        </a>
                                    </div>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- JS here -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>










    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}" ></script>
    <!-- <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}" ></script> -->
    <!-- <script src="{% static 'js/popper.min.js' %}" ></script> -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}" ></script> -->
    
    <script src="{% static 'js/owl.carousel.min.js' %}" ></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}" ></script>
    <script src="{% static 'js/ajax-form.js' %}" ></script>
    <script src="{% static 'js/waypoints.min.js' %}" ></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}" ></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}" ></script>
    <script src="{% static 'js/scrollIt.js' %}" ></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}" ></script>
    <script src="{% static 'js/wow.min.js' %}" ></script>
    <script src="{% static 'js/nice-select.min.js' %}" ></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}" ></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
    <script src="{% static 'js/plugins.js' %}" ></script>
    <script src="{% static 'js/gijgo.min.js' %}" ></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}" ></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}" ></script>
    <script src="{% static 'js/jquery.form.js' %}" ></script>
    <script src="{% static 'js/jquery.validate.min.js' %}" ></script>
    <script src="{% static 'js/mail-script.js' %}" ></script>

    <script src="{% static 'js/main.js' %}" ></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar' %}" ></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o' %}" ></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    
{% block scripts %}


{% endblock  %}

</body>
</html>