{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block content %}





<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div align="right" style="font-family: myFirstFont; direction:rtl " class="row">
                <div class="col-lg-9">
                    <div align="right" style="font-family: myFirstFont; direction:rtl " class="slider_text ">
                        <span align="right" style="font-family: myFirstFont; direction:rtl ">هر نوع توانایی داری</span>
                        <h3 style="font-family: myFirstFont; direction:rtl "> به ما ملحق شو</h3>
                        <p style="font-family: myFirstFont; direction:rtl ">
                        موسسه خیریه توانمند سازی ام اس
                        
                        </p>
                        <a href="/account/signup" style="font-family: myFirstFont; direction:rtl " class="boxed-btn3">ثبت نام
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<br>
<!-- latest_activites_area_start  -->
<div class="latest_activites_area">
    <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
        <a class="popup-video" href="https://www.aparat.com/v/egXc5">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div align="right" style="font-family: myFirstFont; direction:rtl " class="activites_info">
                    <div class="section_title">
                        <h3 align="right" style="font-family: myFirstFont; direction:rtl "> <span>معرفی موسسه
                            </span><br>
                        </h3>
                    </div>
                    <p style="font-family: myFirstFont; direction:rtl " class="para_1">مجموعه تلاش های گروهی از انسان
                        های خیراندیش در این موسسه به صورت هدفمند، منجسم و با برخورداری از همکاری های همه جانبه نیروهای
                        دلسوز و متخصص در زمینه های روانشناسی، مددکاری اجتماعی با مجوز شماره 2668/2698/717 از سازمان
                        بهزیستی آغاز گردیده است.</p class="para_1">
                    <p style="font-family: myFirstFont; direction:rtl " class="para_2">- بازتوانی و توانمند سازی روانی
                        عاطفی افراد مبتلا به بیماری ام اس و خانواده های آنان
                        <br>
                        <br>
                        - برنامه ریزی و اجرای برنامه های آموزش، راهنمایی و مشاوره در زمینه ارتقاء سطح سلامت روان افراد و
                        یاوری در زمینه بهبود بخشیدن و افزایش تاب آوری و بهینه سازی سبک زندگی در رابطه با بیماری
                        <br><br>- آگاهی رسانی اجتماعی – فرهنگی و بررسی راهکارهای مناسب در جهت هدایت حمایت های جامعه،
                        سازمان ها و نهادهای دولتی، خصوصی و داوطلب
                    </p> <a style="font-family: myFirstFont; direction:rtl " href="/about/" 
                        class="boxed-btn4">می خواهم بیشتر با موسسه آشنا شوم</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest_activites_area_end  -->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <a href="{% url 'news:cause_list' %}">
                        <h3 style="font-family: myFirstFont"><span>اهداف</span></h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="causes_active owl-carousel">
                    {% for cause in cause %}

                    <div class="single_cause">
                        <div class="thumb">
                            <img height="220px" src='/media/{{cause.image}}' alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    {% if cause.get_percent %}

                                    <div class="progress-bar" role="progressbar"
                                        style="width: {{ cause.get_percent|floatformat:0  }}%;" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100">


                                        <span class="progres_count">
                                            {{ cause.get_percent|floatformat:0  }}%
                                        </span>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                {% if cause.reised_cause != 0 %}

                                <span align="center" style="font-family: myFirstFont; direction:rtl ">دریافتی
                                    :{{cause.reised_cause|intcomma }}</span>
                                {%  endif %}
                                <span align="center" style="font-family: myFirstFont; direction:rtl ">برآورد:
                                    {{ cause.goal_cause | intcomma }}</span>
                            </div>
                            <h4 align="right" style="font-family: myFirstFont; direction:rtl ">{{cause.title_cause}}
                            </h4>
                            <p align="right" style="font-family: myFirstFont; direction:rtl ">
                                {{cause.content_cause|truncatechars:60}}</p>
                            <a align="right" style="font-family: myFirstFont; direction:rtl " class="read_more"
                                href="{{cause.get_absolute_url}}">ادامه مطلب</a>
                        </div>
                    </div>

                    {%  endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_causes_area_end  -->

<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-5 mb-lg-0">
                <div class="counter_bg overlay">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-heart-beat"></i>
                                </div>
                                <div class="events">
                                    <h3 class="counter">{{config.MADAD_JOO}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">تعداد مدد جو ها
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-in-love"></i>
                                </div>
                                <div class="events">
                                    <h3 class="counter">{{config.MADAD_KAR}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">تعداد مدد کار ها
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_counter d-flex align-items-center justify-content-center">
                                <div class="icon">
                                    <i class="flaticon-hug"></i>
                                </div>
                                <div class="events">
                                    <h3 >{{counter}}</h3>
                                    <p align="right" style="font-family: myFirstFont; direction:rtl ">اعضای آنلاین
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 " align="right" style=" ;  font-family: myFirstFont; direction:rtl ">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-credit-card"></i></span>
                    <div class="media-body">
                        <h3 align="right" style=" ;  font-family: myFirstFont; direction:rtl ">۶۱۰۴-۳۳۷۷-۴۵۴۶-۱۰۰۲</h3>
                        <p align="right" style=" ;  font-family: myFirstFont; direction:rtl ">کارت ملت</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-bank"></i></span>
                    <div class="media-body">
                        <h3 style=" ;  font-family: myFirstFont; direction:rtl "> ۵۹۳۶۶۹۵۳۵۶ </h3>
                        <p style=" ;  font-family: myFirstFont; direction:rtl ">حساب ملت</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-credit-card"></i></span>
                    <div class="media-body">
                        <h3 align="right" style=" ;  font-family: myFirstFont; direction:rtl ">۶۲۱۹-۸۶۷۰-۰۰۰۰-۳۸۷۷</h3>
                        <p align="right" style=" ;  font-family: myFirstFont; direction:rtl "> ملت سامان</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-bank"></i></span>
                    <div class="media-body">
                        <h3 style=" ;  font-family: myFirstFont; direction:rtl "> ۸۲۹-۸۱۹-۲۵۳۳۸۳۱-۱ </h3>
                        <p style=" ;  font-family: myFirstFont; direction:rtl ">حساب سامان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->

<!-- news__area_start  -->
<div class="news__area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span align="right" style="font-family: myFirstFont; direction:rtl "><a href="/about/" >مدد کاران گل بوته</a></span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="news_active owl-carousel">
                    {% for responsible in responsible %}


                    <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img height="400px" src='/media/{{responsible.image}} ' alt="">
                        </div>
                        <div class="newsinfo">
                            <span align="right" style=" font-family: myFirstFont; direction:rtl   ">
                                {{ responsible.group_responsible }} </span>
                            {% if responsible.telegram %}


                            <a style="float:right; color:black   " href="https://telegram.me/{{responsible.telegram}}"
                                target="_blank"> <i class="fa fa-telegram"></i> </a>
                            {% endif %}
                            <i style="float:right; color:white   " class="fa fa-instagram"></i>
                            <i style="float:right; color:white   " class="fa fa-instagram"></i>


                            {% if responsible.instagram %}

                            <a style="float:right; color:black    "
                                href="https://www.instagram.com/{{responsible.instagram}}" target="_blank">
                                <i class="fa fa-instagram"></i> </a>
                            {% endif %}
                            <i style="float:right; color:white   " class="fa fa-instagram"></i>
                            <i style="float:right; color:white   " class="fa fa-instagram"></i>
                            {% if responsible.email %}

                            <a style="float:right; color:black    " href="mailto:{{responsible.email}}" target="_blank">
                                <i class="fa fa-envelope-o"></i> </a>

                            {% endif %}


                            <a href="{% url 'about' %}">
                                <h3 align="right" style=" font-family: myFirstFont; direction:rtl   ">
                                    {{responsible.name}}</h3>
                            </a>
                            <p align="right" style=" font-family: myFirstFont; direction:rtl   ">
                                {{responsible.bio|truncatechars:140}}</p>
                            <a class="read_more" href="{% url 'about' %}">بیشتر</a>
                        </div>
                    </div>
                    {% endfor  %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news__area_end  -->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <a href="{% url 'news:news_list' %}">
                        <h3 style="font-family: myFirstFont"><span>اطلاع رسانی</span></h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="causes_active owl-carousel">
                    {% for news in news %}

                    <div class="single_cause">
                        <div class="thumb">
                            <img height="220px" src='/media/{{news.image}}' alt="">
                        </div>
                        <div class="causes_content">
                            <div class="balance d-flex justify-content-between align-items-center">

                                <span>{{news.created_news|jformat:" %y - %B - %d" }}</span>
                                <span align="center" style="font-family: myFirstFont; direction:rtl ">
                                    {{news.group_news}}</span>
                            </div>
                            <h4 align="right" style="font-family: myFirstFont; direction:rtl ">{{news.title_news}}
                            </h4>
                            <p align="right" style="font-family: myFirstFont; direction:rtl ">
                                {{news.content_news|truncatechars:60}}</p>
                            <a align="right" style="font-family: myFirstFont; direction:rtl " class="read_more"
                                href="{{news.get_absolute_url}}">ادامه مطلب</a>
                        </div>
                    </div>

                    {%  endfor %}

                </div>
            </div>
        </div>
        
            <div class="comment-form">
               <h4 align="right" style=" font-family: myFirstFont; direction:rtl   ">نظرات خود را ارسال کنید</h4>
               <form class="form-contact comment_form" action="{% url 'news:feedback' %}" id="commentForm" method='post'>
                  <div class="row">                    {% csrf_token %}

                     <div class="col-12">
                        <div class="form-group">
                           <textarea align="right" style=" font-family: myFirstFont; direction:rtl   "
                              class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                              placeholder="نظرات خود را بنویسید"></textarea>
                        </div>
                     </div>  
                     {% if user.is_authenticated == 0 %}

                     <div class="col-sm-12">
                        <div class="form-group">
                           <input class="form-control" align="right" style=" font-family: myFirstFont; direction:rtl   " name="email" id="email" type="email" placeholder="ایمیل">
                        </div>
                     </div>
                     {% endif %}
                  </div>
                                      <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                  <div class="form-group">
                     <button style=" font-family: myFirstFont; " type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ارسال </button>
                  </div>
               </form>
            </div>
    </div>
</div>
<!-- popular_causes_area_end  -->

{% endblock %}