{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block head %}
 <link href="{% static 'imgupload/css.css' %}" rel="stylesheet">
<link href="{% static 'imgupload/font-awesome.min.css' %}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'imgupload/reset.min.css' %}">
<link rel="stylesheet" href="{% static 'imgupload/style.css' %}">
{% endblock %}


{% block content %}

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">ثبت نام</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->


<div class="whole-wrap">
    <div class="container box_1170">



        <div class="section-top-border">
          
                {% if error %}
  <h3 align="right" style=" font-family: myFirstFont; direction:rtl" class="mb-30">خطا :</h3>
            <div class="row">
                <div class="col-lg-12">
     <blockquote align="right"  style=" color:red; font-family: myFirstFont; direction:rtl" class="
                        generic-blockquote">
                {{error}}
                        <br><br>
                    </blockquote>
               
                {% else %}  <h3 align="right" style=" font-family: myFirstFont; direction:rtl" class="mb-30">امام علی‏ علیه
                السلام :</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote align="right" style=" font-family: myFirstFont; direction:rtl" class="
                        generic-blockquote">
                        طوبی لِمَن أحسَن إلَی الِعبادِ و تَزَوَّدَ لِلمَعادِ

                        <br><br>“
                        خوشا به حال آن که به بندگان خدا نیکی کند و برای آخرت خود زاد و توشه برگیرد.”
                    </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div align="right" style=" font-family: myFirstFont; direction:rtl" class="row">

                <div class="col-lg-4 col-md-4">
                    <h3 align="right" style=" font-family: myFirstFont; direction:rtl" class="mb-30">فرم ثبت نام</h3>
                    <form autocomplete="off" action="{% url 'account:signup' %}" method="POST" enctype="multipart/form-data">
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                         {{form.username}}
                        </div>
                        <div class="mt-10">
                             {{form.first_name}}
                       </div>
                        <div class="mt-10">
                       {{form.last_name}}
                        </div>

                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                       {{form.password}}
                    
                         </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                       {{form.confirm}}
                        </div>
<br><br><br><br>                    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div  style="float:right; font-family: myFirstFont; direction:rtl" class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                </div>
                <div class="col-lg-4 col-md-4">
                    <br><br>
                    <div class="mt-10">
                    {{form.phone_user}}
                         </div>

                    {% csrf_token %}
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                       {{form.email}}
                 
                      </div>
                    <div class="input-group-icon mt-10">
                    {{form.address_user}}
                    </div>

                    <div class="mt-10">
                         {{form.comment_user}}
               
                     </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="single-element-widget mt-30"><br>
                        <div align="right" style="float:right; font-family: myFirstFont; direction:rtl"
                            class="default-select" id="default-select"">
                           {{form.jens_user}}
                        </div>
                    </div>
                    <br>
                    <div class="single-element-widget mt-30">
                        <div align="right" style="float:right; font-family: myFirstFont; direction:rtl"
                            class="default-select" id="default-select"">
                          {{form.role_user}}
                        </div>
                    </div>
                    <br>
                     <br>
                    <br>
                    <div style="float: right; " class="col-md-4">
                    
                            <div class="avatar-upload">
        <div class="avatar-edit">
        
                     {{form.img_user}}
                
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url({% static 'img/uploadimage.png'%});">
            </div>
        <script src="{% static 'imgupload/jquery.min.js' %}"></script>
        <script  src="{% static 'imgupload/script.js' %}"></script>

       
        </div>
    </div>
</div>
                    </div>
                 </div>

            </div>
          

            <div class="form-group">
                <button align="right" style="float:right; font-family: myFirstFont; direction:rtl" type="submit"
                    class="button button-contactForm btn_1 boxed-btn">ثبت نام </button>
            </div>
        </div>
    </div>

    </form>
</div>
{% endblock %}