bodyy {
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
bodyy .container {
  width: 200%;
  height: : 300px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
bodyy .container .alert-box {
  background-color: #f5f5f5;
  width: 300px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
bodyy .container .alert-box--icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 20px;
}
bodyy .container .alert-box--icon i {
  color: #f65656;
  font-size: 45px;
}
bodyy .container .alert-box--content {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px 0;
}
bodyy .container .alert-box--content h2,
bodyy .container .alert-box--content p {
  margin: 10px 0;
  text-align: center;
}
bodyy .container .alert-box--content h2 {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
}
bodyy .container .alert-box--content p {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  line-height: 24px;
  font-size: 15px;
  opacity: 0.7;
}
bodyy .container .alert-box--button {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4ox;
}
bodyy .container .alert-box--button a {
  text-decoration: none;
  background-color: #f65656;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #f5f5f5;
  font-weight: 700;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
bodyy .container .alert-box--button a:hover {
  opacity: 1;
}

.scale-in {
  -webkit-animation: scaleIn 1.5s forwards;
  animation: scaleIn 1.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.scale-out {
  -webkit-animation: scaleOut 1.5s forwards;
  animation: scaleOut 1.5s forwards;
}

@-webkit-keyframes scaleOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes scaleOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
