{% extends 'base.html' %}
{% load humanize %}
{% load jformat %}
{% load staticfiles %}

{% block content %}

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">اهداف موسسه</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
 <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row">
                    <div class="single_cause">
                        <div  align="right" style="font-family: myFirstFont; direction:rtl " class="causes_content">
                            <h4 style="font-family: myFirstFont;">اهداف موسسه</h4>
                            <p style="font-family: myFirstFont;">موسسه خیریه یک نوع از کسب و کار است که معمولا نهادی مردمی است و به طور غیر انتفاعی در جهت رسیدگی به مشکلات مختلف فعالیت می نماید. به طور کلی این نوع از کسب  و کار به یک موسسه خیریه و یا یک بنیاد که ممکن است به شکل دولتی و یا خصوصی فعالیت نماید، اشاره می کند. یک موسسه خیریه ممکن است به فعالیت های مذهبی، آموزشی و یا سایر فعالیت های مرتبط با منافع عمومی و بشر دوستانه بپردازد</p>
                            <p style="font-family: myFirstFont;">. قوانین هر موسسه خیریه بسته به این که در چه کشوری فعالیت می کند ممکن است متفاوت باشد. بنابراین قوانین و مفاد مالیاتی مرتبط با موسسه خیریه هم بستگی به قوانین کشوری که در آن فعالیت می کند دارد.</p>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->


<!-- popular_causes_area_start  -->
<div class="popular_causes_area pt-120">
    <div class="container">
        <div class="row">
            {% for cause in cause %}
            <div class="col-lg-4 col-md-6">
                <div class="single_cause">
                    <div class="thumb">
                        <img height="220px" src='/media/{{cause.image}} ' alt="">
                    </div>
                    <div class="causes_content">
                        <div class="custom_progress_bar">
                            <div class="progress">
                                {% if cause.get_percent %}
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ cause.get_percent|floatformat:0  }}%;" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <span class="progres_count">
                                        {{ cause.get_percent|floatformat:0  }}%
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div align="right" style="font-family: myFirstFont; direction:rtl "
                            class="balance d-flex justify-content-between align-items-center">
                            <span style="font-family: myFirstFont">دریافتی :{{cause.reised_cause|intcomma }} </span>
                            <span style="font-family: myFirstFont">برآورد: {{ cause.goal_cause | intcomma }}</span>
                        </div>
                        <a  href="{{cause.get_absolute_url}}">
                            <h4 align="right" style="font-family: myFirstFont; direction:rtl ">{{cause.title_cause}}
                            </h4>
                        </a>
                        <p align="right" style="font-family: myFirstFont; direction:rtl ">
                            {{cause.content_cause|truncatechars:60}}</p>
                        <a align="right" style="font-family: myFirstFont; direction:rtl " class="read_more"
                           href="{{cause.get_absolute_url}}">ادامه مطلب</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

            <div class="comment-form">
               <h4 align="right" style=" font-family: myFirstFont; direction:rtl   ">نظرات خود را ارسال کنید</h4>
               <form class="form-contact comment_form" action="{% url 'news:feedback' %}" id="commentForm" method='post'>
                  <div class="row" dir="rtl" style="direction: rtl;">                    {% csrf_token %}

                     <div class="col-12">
                        <div class="form-group">
                           <textarea align="right" style=" font-family: myFirstFont; direction:rtl   "
                              class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                              placeholder="نظرات خود را بنویسید"></textarea>
                        </div>
                     </div>  
                     {% if user.is_authenticated == 0 %}

                     <div class="col-sm-12">
                        <div class="form-group">
                           <input class="form-control" align="right" style=" font-family: myFirstFont; direction:rtl   " name="email" id="email" type="email" placeholder="ایمیل">
                        </div>
                     </div>
                     {% endif %}
                  </div>
                                      <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                  <div style="float: right: ;" class="form-group">
                     <button style=" font-family: myFirstFont; " type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ارسال </button>
                  </div>
               </form>
            </div>    </div>

</div>
<!-- popular_causes_area_end  -->


{% endblock %}