{% extends 'base.html' %}

{% load jformat %}
{% load staticfiles %}

{% block content %}

<!-- bradcam_area_start  -->

<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-family: myFirstFont  ">اخبار موسسه</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<!--================Blog Area =================-->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area pt-120 cause_details ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="single_cause">
                    <div class="thumb">
                        <img src='/media/{{detail.image}} ' alt="">
                    </div>
                    <div class="causes_content">
                        <div class="custom_progress_bar">
                            <div class="progress">
                                {% if detail.get_percent %}

                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ detail.get_percent|floatformat:0  }}%;" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <span class="progres_count">
                                        {{ detail.get_percent|floatformat:0  }}%
                                    </span>
                                </div>
                                {% endif %}


                            </div>


                        </div>
                        <div class="balance d-flex justify-content-between align-items-center">
                            <span style="font-family: myFirstFont">دریافتی :{{detail.reised_cause }} </span>
                            <span style="font-family: myFirstFont">برآورد: {{ detail.goal_cause  }}</span>

                        </div>
                        <h4 align="right" style="font-family: myFirstFont; direction:rtl ">
                            {{detail.title_cause}}</h4>
                        <p align="right" style="font-family: myFirstFont; direction:rtl ">
                            {{detail.content_cause}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_causes_area_end  -->



<!-- popular_causes_area_start  -->
<div class="popular_causes_area pt-120">
    <div class="container">
        <div class="row">
            {% for cause in cause %}
            <div class="col-lg-4 col-md-6">
                <div class="single_cause">
                    <div class="thumb">
                        <img height="220px" src='/media/{{cause.image}} ' alt="">
                    </div>
                    <div class="causes_content">
                        <div class="custom_progress_bar">
                            <div class="progress">
                                {% if cause.get_percent %}
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ cause.get_percent|floatformat:0  }}%;" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <span class="progres_count">
                                        {{ cause.get_percent|floatformat:0  }}%
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div align="right" style="font-family: myFirstFont; direction:rtl "
                            class="balance d-flex justify-content-between align-items-center">
                            <span style="font-family: myFirstFont">دریافتی :{{cause.reised_cause }} </span>
                            <span style="font-family: myFirstFont">برآورد: {{ cause.goal_cause  }}</span>
                        </div>
                        <a href="{{cause.get_absolute_url}}">
                            <h4 align="right" style="font-family: myFirstFont; direction:rtl ">{{cause.title_cause}}
                            </h4>
                        </a>
                        <p align="right" style="font-family: myFirstFont; direction:rtl ">
                            {{cause.content_cause|truncatechars:60}}</p>
                        <a align="right" style="font-family: myFirstFont; direction:rtl " class="read_more"
                            href="{{cause.get_absolute_url}}">ادامه مطلب</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    
            <div class="comment-form">
               <h4 align="right" style=" font-family: myFirstFont; direction:rtl   ">نظرات خود را ارسال کنید</h4>
               <form class="form-contact comment_form" action="{% url 'news:feedback' %}" id="commentForm" method='post'>
                  <div class="row">                    {% csrf_token %}

                     <div class="col-12">
                        <div class="form-group">
                           <textarea align="right" style=" font-family: myFirstFont; direction:rtl   "
                              class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                              placeholder="نظرات خود را بنویسید"></textarea>
                        </div>
                     </div>  
                     {% if user.is_authenticated == 0 %}

                     <div class="col-sm-6">
                        <div class="form-group">
                           <input class="form-control" name="email" id="email" type="email" placeholder="ایمیل">
                        </div>
                     </div>
                     {% endif %}
                  </div>
                                      <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lc0zuUUAAAAAKyAbvuSCBUDrYpbTSsB_lAPotDg"></div>

                  <div class="form-group">
                     <button style=" font-family: myFirstFont; " type="submit"
                        class="button button-contactForm btn_1 boxed-btn">ارسال </button>
                  </div>
               </form>
            </div>
    </div>

</div>
<!-- popular_causes_area_end  -->




{%endblock%}